---
import dayjs from "dayjs"
import Star from "../components/star.astro"

const { DATE_FORMAT, MAX_RATING, CARD_IMAGE_COUNT } = import.meta.env

const { post }: any = Astro.props
const { url, frontmatter } = post

const { title, date, rating, location, images }: any = frontmatter

const className: string = rating === Number(MAX_RATING) ? `card card-top-rated` : `card`
const thisImages: any[] = images.slice(0, Number(CARD_IMAGE_COUNT))
---
<a href={url} class={className}>
    <div class="card__images">
        {thisImages.map(({ src, alt }: any) => <img src={`/src/assets/images/${src}`} alt={alt} />)}
    </div><!-- ./card__images -->

    <div class="card__body | flow mt-4">
        <h2 class="text-2xl font-bold">{title}</h2>

        <div class="card__rating">
            {() => {
                const stars: any[] = []
                for (let i = 0; i < rating; ++i) {
                    stars.push(<Star />)
                }
                return stars
            }}
        </div><!-- card__rating -->

        <div class="card__content">
            <div class="card__content__icon">
                <i class="fa-duotone fa-earth-asia"></i>
            </div><!-- ./card__content__icon -->
            <div class="card__content__content">
                {location.join(", ")}
            </div>
        </div><!-- ./card__content__content -->

        <div class="card__content">
            <div class="card__content__icon">
                <i class="fa-duotone fa-calendar"></i>
            </div><!-- ./card__content__icon -->
            <div class="card__content__content">
                {dayjs(date).format(DATE_FORMAT)}
            </div>
        </div><!-- ./card__content__content -->
    </div><!-- ./card__body -->
</a>