---
import "../styles/app.scss"

import favicon from "../assets/images/logo-png-1024x1024.png"
import PrimaryFooter from "../components/primary-footer.astro"

const { APP_NAME, DESCRIPTION, KEYWORDS, AUTHOR } = import.meta.env

const { title, description = DESCRIPTION, keywords = KEYWORDS, className } = Astro.props
const theTitle = title ? `${APP_NAME} - ${title}` : APP_NAME

const { pathname } = Astro.url
const home: boolean = pathname === "/"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<meta name="keywords" content={keywords}>
		<meta name="author" content={AUTHOR}>

		<title>{theTitle}</title>

		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<script
			is:inline
			src="https://kit.fontawesome.com/1b82ea5cb2.js"
			crossorigin="anonymous"
			></script>

	</head>
	<body id="top" class={className}>
        {!home && <a href="/" class="btn btn-fixed btn-fixed-top-left">Back</a>}
		<a href="#top" class="btn btn-fixed btn-fixed-bottom-right">Top</a>

        <slot />

		<PrimaryFooter />
	</body>
</html>
