---
import Main from "../layouts/main.astro"
import PostHeader from "../components/post-header.astro"

const { MAX_RATING } = import.meta.env
const { frontmatter } = Astro.props
const { title, description, keywords, rating, location, date, images } = frontmatter

const className: string = Number(rating) === Number(MAX_RATING) ? "top-rated" : ""
---
<Main title={title} description={description} keywords={keywords} className={className}>
    <PostHeader title={title} rating={rating} location={location} date={date} />

    <main class="primary-main">
        <div class="wrapper container-q container-q-primary-main | flow mx-auto p-4">
            <div class="gallery">
                {images.map(({ src, alt }: any) => <img src={`/images/${src}`} alt={alt}>)}
            </div>

            <div class="content | flow">
                <slot />
            </div><!-- ./content -->
        </div>
    </main>
</Main>